doctype html
html(lang='en')
  head
    title Lading page
  body
    h1 "The future home, of something awesome!"
    p Distillery neutra godard swag pok pok raclette glossier. Polaroid lo-fi heirloom unicorn, PBR&B artisan vape tacos literally poke chicharrones messenger bag succulents helvetica locavore. Sriracha disrupt iceland before they sold out, williamsburg la croix pitchfork man bun hoodie tote bag direct trade fingerstache snackwave microdosing. Vinyl VHS gentrify, viral vice everyday carry hammock locavore tattooed copper mug tacos. Austin photo booth slow-carb glossier authentic ugh. Brunch yr cold-pressed, artisan marfa vegan hammock health goth. Jean shorts pour-over ugh PBR&B before they sold out crucifix, yr butcher twee cornhole sriracha.
